.vscode/
.DS_Store

# Ignoring images
data/figures

# Ignoring python-related files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/

# Ignoring the dataset
data/raw/
data/processed/CID-SELFIES
data/processed/SMALL-CID-SELFIES-20
data/evolutionary_search_results

# Except for the super small SELFIES dataset
!data/processed/TINY-CID-SELFIES-20

# Ignoring trained models
*.pt

# Ignores the barplot script
barplot.py

# Ignores lighning logs
lightning_logs/

# Ignores a plot
losses.jpg
