.vscode/

# Ignoring python-related files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/

# Ignoring the dataset
data/raw/
data/processed/CID-SELFIES
data/processed/SMALL-CID-SELFIES

# Except for the super small SELFIES dataset
!data/processed/SUPER-SMALL-CID-SELFIES